@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: #90e0ef
}

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color:blue;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;

}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}


h1{
    text-align: center;
}

/* p{
    text-align: center;
}

input{
    margin: auto;
}

label{
    display: block;
    text-align: center;
} */

button{
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.4rem;
    background-color: #03045e;
    color: #0096c7;
}

.question-container{
    width: 85%;
    margin: 1rem auto;
    font-size: larger;
    padding: 1rem 0;
}

.question-container p{
    margin: 1rem 0;
}

.input-label {
    font-size: larger;
    color: var(--primary-color);
    width: 256px;
  }
  
  .input-label p {
    font-size: larger;
    margin: 0.5rem;
  }
  
  .input-text {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
  }
  

#output{
    text-align: center;
    color: #0077b6;
    margin-top: 0.6rem;
    font-size: x-large;
}